---
title: Home
---

<h2>Welcome</h2>

<p>This place is for note taking.</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>